#SoldeCredit{
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    padding: 20px 12% 10px 0px;

    font-weight: bold;
    color: rgb(238, 238, 238);
}
.soldeTitle{
    color: rgb(253, 182, 29);
}
.solde{
    order: 1;
}
.credit{
    order: 2;
}