body{
    color: whitesmoke;
    font-family: Arial;
    font-size: 18px;
}

#intro{
    display: flex;
}

h3{
    font-family: Impact, sans-serif;
    font-size: 33px;
    margin-right: 55px;
    color: rgb(65, 63, 63);
}

#formLogin{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;

    text-align: right;
    margin: 1vw 2vw 1vw auto;
}

form{
    align-self: center;
    flex-grow: 1;

    margin: 72px auto 20px auto;
    box-shadow: 3px 3px 3px 3px rgb(2, 2, 2);
    padding:  22px 110px 18px 80px;
}

label{
    font-size: 20px;
    color:rgb(250, 244, 248);
    font-weight: 900;
}

input#i1{

    background-color: black;
    color:white;
    border:none;
    border-radius: 15px;
    height: 20px;
    padding:10px 10px 10px 18px;
    border: rgb(22, 22, 22) 3px solid;
    font-size: 17px;
    font-weight:400;
}
input#i1:hover{
    border: rgb(221, 150, 17) 3px solid;
    animation: 5s;
    -webkit-animation: 5s;
}

input[type=submit]{

    background-color: rgb(24, 255, 43);
    border-radius: 10px;
    border:none;
    padding: 7px 11px 7px 11px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    
    margin: 23px auto 15px 6vw;
}