<nav id="nav-principale">
    <div class="navLogo">
        <a style="text-decoration:none;color:rgb(221, 5, 95)">LOGO</a>
    </div>
    <div class="nav1">
        <a class="textMenu" routerLink="/monCompte" routerLinkActive="active" style="text-decoration:none;color:rgb(221, 5, 95)">MON COMPTE</a>
    </div>
    <div class="nav2">
        <a class="textMenu" routerLink="/listeOffres" routerLinkActive="active" style="text-decoration:none;color:rgb(221, 5, 95)">OFFRES</a>
    </div>
    <div class="nav3">
        <a class="textMenu"  routerLink="/Historique" routerLinkActive="active" style="text-decoration:none;color:rgb(221, 5, 95)">HISTORIQUE</a>
    </div>
    <div class="nav4">
        <a class="textMenu" routerLink="/login" routerLinkActive="active" style="text-decoration:none;color:rgb(221, 5, 95)">LOGIN/OUT</a>
    </div>
</nav>

<body>
    <router-outlet></router-outlet>
</body>


<footer>
    <div id="footer-e1">
        <a class="footer-titre"><u>Binome:</u></a><br><br>
        <a>ANDRIAMBOLOLONA TONNY</a><br><br>
        <a>RAMAHEFARISON TIAVINA</a><br><br>
    </div>

    <div id="footer-e1">
        <a class="footer-titre"><u>Numero:</u></a><br><br>
        <a >ETU 0000871</a><br><br>
        <a>ETU 0000924</a><br><br>
    </div>

    <div id="footer-e2">
        <a class="footer-titre"><u>Contact:</u></a><br><br>
        <a>AndriambololonaTonny88@gmail.com</a><br><br>
        <a>Ramahefarison2Tiavina@gmail.com</a><br><br>
    </div>

    <div id="footer-e2">
        <a class="footer-titre"><u>Tel:</u></a><br><br>
        <a>034 43 426 88</a><br><br>
        <a>034 59 614 43</a><br><br>
    </div>
</footer>